@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2B2B;
    padding: 50px 100px;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#title {
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
}

#character-list {
    border: $border-width solid $border-color;
    color: white;
    display: flex;
    flex-direction: column;

    &-title {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        border-bottom: $border-width solid $border-color;

        h2 {
            font-size: 4rem;

            @media(min-width: 1024px) {
                font-size: 2.5rem;
            }
        }
    }

    &-characters {
        .character-row:last-child .character-overview {
            border-bottom: none;
        }
    }

    @media(min-width: 1024px) {
        width: 50%;
    }
}

.character {
    &-overview {
        display: flex;
        padding: 2rem 3rem;
        border-bottom: $border-width solid $border-color;

        @media(min-width: 1024px) {
            padding: 1rem 2rem;
        }
    }

    &-name {
        font-size: 3rem;

        @media(min-width: 1024px) {
            font-size: 1.5rem;
        }
    }

    &-row {
        display: flex;
        flex-direction: column;

        &-expanded {
            background-color: #4F4F4F;
        }
    }

    &-name {
        display: flex;
        justify-content: center;
        text-align: center;

        &-wrapper {
            flex-grow: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-obtained-checkbox {
        display: flex;
        align-self: center;
        background-color: white;
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        margin: 0 10px;

        &:checked {
            & + div {
                opacity: 1;
            }
        }

        &:hover {
            cursor: pointer;
        }

        & + div {
            opacity: 0.2;
        }

        @media(min-width: 1024px) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &-stats {
        padding: 2rem 3rem;
        border-bottom: $border-width solid $border-color;

        @media(min-width: 1024px) {
            padding: 1rem 2rem;
        }
    }

    &-promotion, &-level {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 2.5rem;
            font-weight: bold;
            width: 200px;

            @media(min-width: 1024px) {
                font-size: 1.25rem;
                width: 100px;
            }
        }

        &-text-input {
            font-size: 2rem;
            padding: 0.5rem 1.5rem;
            text-align: center;
            border-radius: 10px;
            border: none;

            &:focus {
                outline: 1px solid #2B2B2B;
            }

            @media(min-width: 1024px) {
                font-size: 1.25rem;
                padding: 0.5rem 0.75rem;
                border-radius: 5px;
            }
        }

        @media(min-width: 1024px) {
            padding: 1rem 0;
        }
    }
}

.faded {
    opacity: 0.2;
}

.hide {
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    background-color: white;
    outline: none;
    border-radius: 8px;

    @media(min-width: 1024px) {
        height: 5px;
    }
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 60px;
    background-color: #2B2B2B;
    cursor: pointer;
    border-radius: 4px;

    @media(min-width: 1024px) {
        width: 10px;
        height: 40px;
    }
}

/* for firefox */
.slider::-moz-range-thumb {
    width: 20px;
    height: 60px;
    background-color: #2B2B2B;
    cursor: pointer;
    border-radius: 4px;

    @media(min-width: 1024px) {
        width: 10px;
        height: 40px;
    }
}
