<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./styles/main.css">
        <script src="script.js" charset="utf-8" defer></script>
        <title>Injustice Character Tracker</title>
    </head>
    <body>
        <h1 id="title">Injustice Character Tracker</h1>
        <main id="character-list">
            <div id="character-list-title">
                <h2>Character Name</h2>
            </div>
            <div id="character-list-characters">
                <% characters.forEach((character) => { %>
                    <div class="character-row" id="<%- character.name.toLowerCase().split(' ').join('-') %>-<%- character.version.toLowerCase().split(' ').join('-') %>-row">
                        <div class="character-overview">
                            <input type="checkbox" class="character-obtained-checkbox" />
                            <div class="character-name-wrapper">
                                <div class="character-name test"><%- character.name %>/<%- character.version %></div>
                            </div>
                        </div>
                        <div class="character-stats hide">
                            <div class="character-promotion">
                                <p>Promotion</p>
                                <input class="character-prmotion-slider-input slider" type="range" min="0" max="10" value="0" />
                                <input class="character-promotion-text-input" type="number" min="0" max="10" value="0" />
                            </div>
                            <div class="character-level">
                                <p>Level</p>
                                <input class="character-level-slider-input slider" type="range" min="1" max="60" value="1" />
                                <input class="character-level-text-input" type="number" min="1" max="60" value="1" />
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>
