<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./styles/main.css">
        <script src="script.js" charset="utf-8" defer></script>
        <title>Injustice Character Tracker</title>
    </head>
    <body>
        <h1 id="title">Injustice Character Tracker</h1>
        <main id="character-list">
            <div id="character-list-title">
                <h2>Character Name</h2>
            </div>
            <div id="character-list-characters">
                <% characters.forEach((character) => { %>
                    <div class="character-row" id="<%- character.name.toLowerCase() %>-<%- character.version.toLowerCase() %>-row">
                        <div class="character-obtained">
                            <input type="checkbox" />
                        </div>
                        <div class="character-name-wrapper">
                            <div class="character-name"><%- character.name %>/<%- character.version %></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>
